*{
    margin:0;
    padding: 0 ;
    box-sizing:border-box;

}

body{
    font-family: 'Red Hat Display', sans-serif;
    background-image: url(/image/bgd.svg);
    max-width: 1440px;
}

.global-container{
    margin: 1rem;
    padding: 1rem;
    display: flex;
}

.box{
    margin-left: auto;
    margin-right: auto;
    min-width: 34.5%;
    height: 75% ;
    border-radius: 15px;
    display: grid;
    background-color: #fff;
    justify-content: center;
    
}

.image-bg{
    border-top-left-radius :15px;
    border-top-right-radius :15px;
    width: 100%;
}

.text-container{
    text-align: center;
}

.text-container p {
    font-size: 16px;
    margin: 1rem;
}

.plan-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 85%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
}

.payment-container{
    display: grid;
    /* flex-direction: column; */
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    min-width: 100%;


}

.payment-button{
    padding: 9px;
    background-color:hsla(245, 75%, 52%, 0.815) ;
    border-radius: 5px;
    width: 80%;
    color: #fff;
    border:none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow:0 9px 5px hsl(245, 95%, 75%);
    
}

.payment-button:hover{
    transform: scale(1, 1);
    box-shadow:0 9px 5px hsl(245, 100%, 70%);

}

.cancel-button{
    padding: 9px;
    border:none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 80%;
    background-color: #fff;
    color: gray;

}

.cancel-button:hover{
    box-shadow: 2px 2px rgba(255, 6, 6, 0.425);
    border-radius: 5px;

}